<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать автора</title>
</head>
<body>
<h1>Редактировать автора</h1>
<form action="#" th:action="@{/authors/edit/{id}(id=${author.id})}" th:object="${author}" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" th:field="*{name}" required> <br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div><br>
    <input type="submit" value="Обновить">
</form>
<a href="/authors">Отмена</a>
</body>
</html>